.App {
  display: flex;
}

.box {
  height: 100px;
  width: 100px;
  margin: 10px;
  border: 1px solid #ccc;
}

.box img {
  width: 100%;
}

.todo-item {
  display: block;
  background: green;
  margin-bottom: 5px;
  width: 200px;
}

.completed {
  background: #ccc;
}